.trigger {
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #003399 !important;
}

.trigger[_ngcontent-tkr-c85]:active {
  color: #003399 !important;
}
.trigger:focus {
  color: #003399 !important;
}
.ant-menu-item-selected{
  color: #003399 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: #F2F4F8;
}

.ant-menu-submenu-title{
  cursor: pointer;
  transition: color 
}
.ant-menu-submenu-title:hover{
  color: #003399 !important;
}
.ant-menu-inline .ant-menu-submenu-title{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.logo {
  height: 40px;
  background: rgba(255, 255, 255, 0.2)  !important;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  min-height: 360px;
}

span {
  font-size: 13px;
}
.submenu{
  font-size: 13px;
}
.menu-item{
  font-size: 13px;

}

nz-footer {
  text-align: center;
}

.ant-menu-inline .ant-menu-item::after{
  border: none;
}

.menu{
  margin-top: 45px;
}

.submenu {
    border-left: 1px solid #848B96;
    left: 13%;  
    padding-left: 30px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 80%;

}
.submenu-ul{
  background-color: #fff;
}
.ant-menu-inline .ant-menu-item{
  margin-top: 32px;
  margin-bottom: 0px;
  height: 30px !important;
}

.sub-menu-item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  position: static;
  width: 190px;
  height: 50px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px ;
  /* margin-top: 32px; */
}
.menu-head{
  margin-top: 32px !important;
margin-bottom: 0px !important;
}

  /* .ant-menu-vertical .ant-menu-item{
    margin-bottom: 20px;
  } */

  nz-menu-item {
    margin-bottom: 20px;
  }
  nz-header {
    background: #fff;
    padding: 0;
    z-index: 1;
}

.arrow-button{
  position: absolute;
width: 24px;
height: 24px;
left: 70px;
top: 6px;
margin: 15px 0px 0px 180px;
background: #F2F4F8;

box-shadow: 0px 2px 4px rgba(18, 17, 17, 0.04), 0px 8px 16px rgba(113, 112, 112, 0.16);
border-radius: 4px;
}
.arrow-button-forword{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 70px;
  top: 6px;
  background: #F2F4F8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  box-shadow: 0px 2px 4px rgba(18, 17, 17, 0.04), 0px 8px 16px rgba(113, 112, 112, 0.16);
  border-radius: 4px;
}

anticon svg {
  display: -webkit-inline-box;
  padding: 3px;
}

.ant-layout-header{
    line-height: 20px;
}
.icon-item{
  width: 18px;
  height: 18px;
  top: 3px;
}
.icon-item-active{
  width: 24px;
  height: 24px;
}

nz-slider{
  flex: 0 0 284px;
  width: 284px;
  height: 787px;
  position: absolute;
  left: 0%;
  right: 80.28%;
  top: 0%;
  bottom: 0%;
}
.ant-layout-sider {
  background: #FFFFFF !important;
  height: 787px;
}

.slider-font{
  font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #848B96;
    padding-left: 10px;
}

.slider-block{
  margin: 10px 0px;
}

.copyright{
  position: absolute;
  width: 167px;
  height: 24px;
  left: 50px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #848B96;
}

nz-submenu-inline-child{
  background-color: #fff;
}


  .trigger:focus {
    background: #F2F4F8 !important;
  }

  .about-col{
    width: 50%;
    margin: 1%; height: 0%;
border-radius: 4px;
padding: 5px;
background-color: #F5F2F2;
  }

  .contact-col{
    width: 50%;
    margin: 1%;
    height: 0%;
    border-radius: 4px;
    padding: 5px;
    background-color: #F5F2F2;
  }
