<div class="container main">

  <nz-layout style="position: relative;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzTrigger]="null">
      <div class="logo" *ngIf="isCollapsed">

        <img style="background-color: white; padding: 0px 10px 0px 10px;" width="100%" height="100%"
          src='../../assets/Small SBISecSol Logo.svg' />
      </div>
      <div class="logo" *ngIf="!isCollapsed">

        <img style=" 
              position: absolute;
    width: 159px;
    height: 29px;
    left: 5px;
    top: 16px;
    top: 15px;" width="100%" height="100%"
          src='../../assets/SBISecSol.logo.svg' />

      </div>
      <ul nz-menu nzMode="inline">
        <li nz-menu-item class="trigger slider-block"
        (click)="clickDashboardlink()">
          <i class=" nz-icon" 
          *ngIf="(isCollapsed && !clickDashboard )||(!isCollapsed && !clickDashboard)">

            <img class='icon-item' src='../../assets/Inactive Dashboard.svg' />
          </i>
          <i class=" nz-icon" 
          *ngIf="(!isCollapsed && clickDashboard)|| (isCollapsed && clickDashboard)">
            <img class='icon-item-active' src='../../assets/Active Dashboard.svg' />
          </i>
          <span class="trigger slider-font " *ngIf="!isCollapsed">Dashboard</span>
        </li>
        <li class="menu-item span icon-menu trigger slider-block menu-head" nz-submenu (click)="clickAttacklink()">
          <p title>

            <i class=" nz-icon" 
            *ngIf="(isCollapsed && !clickAttack )||(!isCollapsed && !clickAttack)">

              <img class='icon-item' src='../../assets/Inactive Attack SImulation.svg' />
            </i>
            <i class=" nz-icon" [ngClass]="{'trigger:active':!isCollapsed }"
              *ngIf="(!isCollapsed && clickAttack)|| (isCollapsed && clickAttack)"
              >
              <img class='icon-item-active' src='../../assets/Active Attack Simulation.svg' />
            </i>
            <span class="trigger slider-font" *ngIf="!isCollapsed">Attack Simulation</span>

          </p>
          <ul class="submenu-ul">
            <li class="submenu " nz-menu-item>
              <span class="sub-menu-item trigger slider-font">Attack Vector</span>
            </li>
            <li class="submenu" nz-menu-item>
              <span class="sub-menu-item  trigger slider-font"> Attack Data</span>
            </li>
          </ul>
        </li>
        <li nz-menu-item class="trigger slider-block" (click)="clickfinancelink()">

          <i class=" nz-icon" *ngIf="(isCollapsed && !clickFinance )||(!isCollapsed && !clickFinance)">
            <img class='icon-item' src='../../assets/Inactive Financial Simulation.svg' />
          </i>
          <i class=" nz-icon" *ngIf="(!isCollapsed && clickFinance)|| (isCollapsed && clickFinance)">
            <img class='icon-item-active' src='../../assets/Active Financial Simulation.svg' />
          </i>
          <span class="trigger slider-font" *ngIf="!isCollapsed">Financial Simulation</span>

        </li>
        <li nz-menu-item class="trigger slider-block" (click)="clickCyberlink()">
          <i class=" nz-icon" 
          *ngIf="(isCollapsed && !clickCyber )||(!isCollapsed && !clickCyber)"
        >
            <img class='icon-item' src='../../assets/inactive Cyber Insurance.svg' />
          </i>
          <i class=" nz-icon" 
          *ngIf="(!isCollapsed && clickCyber)|| (isCollapsed && clickCyber)"
          >
            <img class='icon-item-active' src='../../assets/Active Cyber Insurance.svg' />
          </i>
          <span class="trigger slider-font" *ngIf="!isCollapsed">Cyber Insurance</span>

        </li>
        <li nz-menu-item class="trigger slider-block" (click)="clickNewslink()">
          <i class=" nz-icon" 
          *ngIf="(isCollapsed && !clickNews )||(!isCollapsed && !clickNews)"

         >
            <img class='icon-item' src='../../assets/Inactive News Feed.svg' />
          </i>
          <i class=" nz-icon" 
          *ngIf="(!isCollapsed && clickNews)|| (isCollapsed && clickNews)"
         >
            <img class='icon-item-active' src='../../assets/Active News feed.svg' />
          </i>
          <span class="trigger slider-font" *ngIf="!isCollapsed">News Feeds</span>

        </li>
        <li nz-menu-item class="trigger slider-block" (click)="clickPosturelink()">
          <i class=" nz-icon"
          *ngIf="(isCollapsed && !clickPosture )||(!isCollapsed && !clickPosture)">
            <img class='icon-item' src='../../assets/inactive Posture Assessment  & Ratings.svg' />
          </i>
          <i class=" nz-icon trigger" 
          *ngIf="(!isCollapsed && clickPosture)|| (isCollapsed && clickPosture)"
          >
            <img class='icon-item-active' src='../../assets/Active Posture Assessment  & Ratings.svg' />
          </i>
          <span class="trigger slider-font" style="word-break: normal;" *ngIf="!isCollapsed">Posture Assessment & Ratings</span>
        </li>
        <li nz-menu-item class="trigger slider-block" (click)="clickSecuritylink()">
          <i class=" nz-icon" 
          *ngIf="(isCollapsed && !clickSecurity )||(!isCollapsed && !clickSecurity)">

            <img class='icon-item' src='../../assets/inactive Security Knowledge  Center.svg' />
          </i>
          <i class=" nz-icon" 
          *ngIf="(!isCollapsed && clickSecurity)|| (isCollapsed && clickSecurity)"
         >
            <img class='icon-item-active' src='../../assets/Active Security Knowledge  Center.svg' />
          </i>
          <span class="trigger slider-font" *ngIf="!isCollapsed">Security Knowledge Center</span>
        </li>
        <li class="trigger" style=" margin-top: 14.7rem;" nz-menu-item *ngIf="isCollapsed">
          <i class=" nz-icon" *ngIf="isCollapsed || !isCollapsed && !clickSecurity">
            <img class='icon-item-active' src='../../assets/About.svg' />
          </i>
        </li>
        <li class="trigger" nz-menu-item *ngIf="isCollapsed">
          <i class=" nz-icon" *ngIf="isCollapsed || !isCollapsed && !clickSecurity">
            <img class='icon-item-active' src='../../assets/Contact Us.svg' />
          </i>
        </li>
        <div class="row" style="display: flex; margin: 4%;
        margin-top: 30%;
    " *ngIf="!isCollapsed">

          <div class="col trigger about-col" >
            <div class="row" style="   text-align:Center; margin: 0%;  ">
              <i class=" nz-icon">
                <img class='icon-item-active' src='../../assets/About.svg' />
              </i>
            </div>
            <div style='font-size: 12px;text-align:Center;' class="row">
              <p class="trigger slider-font">About Us</p>
            </div>
          </div>
          <div class="col trigger contact-col" >
            <div class="row" style="   text-align:Center; margin: 0%;">
              <i class=" nz-icon">
                <img class='icon-item-active' src='../../assets/Contact Us.svg' />
              </i>
            </div>
            <div class="row" style='font-size: 12px; text-align:Center; '>
              <p class="trigger slider-font">Contact Us</p>
            </div>
          </div>
        </div>
        <div *ngIf="!isCollapsed" >
          <p class="copyright">
            Copyrights 2021 SBI Holdings
          </p>
        </div>
      </ul>
    </nz-sider>

    <nz-layout>
        <span class="trigger arrow-button" *ngIf="!isCollapsed">
      
          <i  nz-icon  (click)="isCollapsed = !isCollapsed">
            <img src='../../assets/arrow.svg' />
          </i>
        </span>
        <span class="trigger arrow-button-forword" *ngIf="isCollapsed" >
          <i  nz-icon  (click)="isCollapsed = !isCollapsed">
            <img src='../../assets/arrow.svg' />
          </i>
        </span>
    </nz-layout>
  </nz-layout>

</div>