
<div class="container center">
<button *ngIf="!isvisible" (click)="callNormal()">Open Normal Chart</button>
<button *ngIf="!isvisibleGroupedChart" (click)="callGrouped()">Open Grouped chart</button>
<button *ngIf="!isvisibleStackedChart" (click)="callStacked()">Open Stacked chart</button>
<button *ngIf="!isvisibleLineChart" (click)="callLine()">Open Line chart</button>
<button *ngIf="!isvisibleMap" (click)="callWorldMap()">Open Map chart</button>
<button *ngIf="!isvisibleSideNav" (click)="callSideNav()">Open Side Nav</button>
<button *ngIf="!isvisibleRichEditor" (click)="callRichEditor()">Open Rich Editor</button>

</div>
<div *ngIf="isvisibleStackedChart">
<app-verical-stacked-charts [stackedData]="stackedData" [categoryData]="categoryData"></app-verical-stacked-charts>`
</div>
<div *ngIf="isvisible">
    <app-vertical-charts [columnData]="columnData" [categoryData]="categoryData">

    </app-vertical-charts>
 </div>
 <div *ngIf="isvisibleGroupedChart">
    <app-group-column-chart [groupData]="groupData" [categoryData]="categoryData"></app-group-column-chart>`
 </div>
 <div *ngIf="isvisibleLineChart">
   <app-line-chart [lineData]="lineData" [categoryData]="categoryData"></app-line-chart>`
</div>
<div *ngIf="isvisibleMap">
   <app-world-mapchart [mapData]="mapData" ></app-world-mapchart>
</div>
<div *ngIf="isvisibleSideNav">
   <app-side-nav-menu></app-side-nav-menu>
</div>

<div *ngIf="isvisibleRichEditor">
   <app-rich-text-editor></app-rich-text-editor>
</div>
