.header {  
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
  }
  .html-header {
    margin: 15px 0 5px;
  }
  
  .html {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    min-height: 20px;
    max-height: 10rem;
    overflow: auto;
  }

/* .form-group {
  border: 2px solid;
  margin: 10px;
  border-radius: 5px;
  margin-top: 20px;
  border-color: lightgray;
}

.form-group>label {
  position: absolute;
  top: 11px;
  left: 31px;
  background: #fff;
  font-size: 12px;
  height: 25%;
}

.form-group>input {
  border: none;
  width: 100%;
  padding: 0px 0px 0px 20px;
  background: transparent;

} */

select{
  width: 100%;
    border: none;
    background: white;
}


.labeldiv{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px;

position: static;
width: 252px;
height: 40px;
left: 0px;
top: 0px;

/* Colours/White */
background: #FFFFFF;

/* Colours/Background */
border: 1px solid #F2F4F8;
box-sizing: border-box;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}


.labels{
   /* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;

position: absolute;
width: 30px;
height: 16px;
top: -8px;

background: #FFFFFF;
border-radius: 2px;
left: 20px;
}

.title{
  position: static;
left: calc(50% - 24px/2 - 1px);
top: 0px;
bottom: 0px;

/* Caption/Regular */
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

/* identical to box height, or 133% */

color: #848B96;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.inputtab{


border: none;

position: static;
width: 228px;
left: calc(50% - 228px/2);
top: 0px;
bottom: 0px;

/* Body 2/Regular */
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;

/* identical to box height, or 143% */

color: #101425;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 13px 2px;
}

.editoridv{
  width: 100%;
  margin-top: 10%;
}
.ant-drawer-title{
  position: absolute !important;
width: 101px !important;
height: 20px !important;
left: 16px !important;
top: 14px !important;

/* Body 2/Bold */
font-family: Noto Sans !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 14px !important;
line-height: 20px !important;

/* identical to box height, or 143% */

/* Colours/Black */
color: #121111 !important;
}

.close_drawericon{
  position: absolute;
  left: 20.83%;
  right: 20.83%;
  top: 20.83%;
  bottom: 20.83%;
  cursor: pointer;
  
}
.close_icon_div{
  position: absolute;
          width: 24px;
          height: 24px;
          right: 16px;
          top: 12px;
}

.drawer_title{

  position: absolute;
  height: 20px;
  left: 16px;
  top: 14px;
  
  /* Body 2/Bold */
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  
  /* identical to box height, or 143% */
  
  /* Colours/Black */
  color: #121111;
            
}

.anticon anticon-close{
  visibility: hidden !important;

}
.drawer_header ant-drawer-header{
position: absolute !important;
width: 560px;
height: 48px !important;
left: 0px;
top: 0px;
}
.ant-drawer-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px !important;
  color: rgba(0,0,0,.85);
  background: #fff;
  border-radius: 2px 2px 0 0;
}

.drawer_head{

        
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,.85);
  background: #fff;
  border-radius: 2px 2px 0 0;
  padding: 15px 0px;

}

input:focus{
  outline: none;
}
select:focus{
  outline: none;
}

.ant-drawer-body {
  flex-grow: 1;
  padding: 16px !important;
  overflow: auto;
  word-wrap: break-word;
}