<button nz-button nzType="primary" (click)="open()">Add Note</button>
<button nz-button nzType="secondary" (click)="edit()">Edit Note</button>

    <nz-drawer
    [nzBodyStyle]="{  overflow: 'auto' }"
      [nzWidth]="560"
      [nzVisible]="visible"
      [nzTitle]="titleTpl"
      [nzFooter]="footerTpl"
      nzPlacement="right"
      nzCloseOnNavigation="false"
      nzMaskClosable="true"
      nzClosable="false"
      >

      <ng-template #titleTpl >
        <div class="drawer_head">
          <span class="drawer_title"> {{drawer_head_title}}</span>
          <span class="close_icon_div" (click)="close()"
          > 
          <img class="close_drawericon" src='../../assets/Vector.svg' />
        </span>
        </div>
      </ng-template>
      <form  *nzDrawerContent  #heroForm="ngForm">
        <div nz-row [nzGutter]="12">
          <div nz-col nzSpan="12">
        
            <div class="labeldiv">
              <label class="labels" >
                <span class="title">Title</span>
            </label>

              <input 
             class="inputtab"
              id="title" 
              name="title"
              type="text"
              required
              [(ngModel)]="note.title" />
          </div>
                </div>
          <div nz-col nzSpan="12">
        
            <div class="labeldiv">
              <label class="labels" >
                <span class="title">Category</span></label>

            <select 
            required              class="inputtab"
            id="category"
                    [(ngModel)]="note.category" name="cate"
                    #power="ngModel">
              <option *ngFor="let cate of category" [value]="cate">{{cate}}</option>
            </select>
          
        </div>
        </div>
        </div>
        
        
        <div class="editoridv" nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <label style="
             
position: static;
height: 20px;
left: 12px;
right: 483px;
top: 0px;

/* Body 2/Regular */
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;

/* identical to box height, or 143% */

/* Color/Dark/3.300 */
color: #594E4E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 2px 10px;
          ">Note</label>
                <angular-editor 
                 [(ngModel)]="note.editorText" 
                 [config]="config" 
               
                 name="edittext"></angular-editor> 
              </nz-form-item>
          </div>
        </div>
      </form>

      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
          <button nz-button nzType="primary" (click)="save()">Submit</button>
        </div>
      </ng-template>
    </nz-drawer>